@charset "utf-8";
.common-box{
    background-color:blue;
    color:white;
    text-align: center;
}
.nav a {
    display: block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.body{
    background-color:white;
    color:black;
    width:100%;
    margin:0;
    padding:0;
}
.section{
    text-align:center;
}
.border-bottom{
    border-bottom:2px solid black;
    padding-bottom:10px
}
form{  
    margin:0px 10px;
    padding:0px 10px;
}
table{
    margin:0.5em;
    padding:0.5em;
    border:3px solid black;
    border-collapse:collapse;
    font-size:30px;
    text-align:center
}
.submit{
    text-align:center
}
main, section {
  margin-left: 30px;
}